@font-face {
    font-family: Consola;
    src: url(../font/consola.ttf);
}

@keyframes colorchange {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: rgba(0, 160, 233, 0.4);
    }
}

body {
    background-color: #1b1b1b;
    text-align: center;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    color: #fff;
}

header {
    width: 100%;
    padding: 20px 10px;
    position: fixed;
    top: 0;
    min-height: 22px;
    left: 0;
    font-size: 1.5em;
    text-align: left;
    background-color: #2e2e2e;
    vertical-align: middle;
    z-index: 100;
}

.title {
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(0, 160, 233);
    width: auto;
    text-align: left;
    margin-left: 20px;
}

.swiper-container {
    width: 100%;
    height: calc(100% - 70px);
    top: 70px;
    position: absolute;
}

.swiper-slide {
    padding: 30px;
    width: calc(100% - 60px) !important;
    font-size: large;
}

.swiper-tab {
    width: 50%;
    height: 60%;
    min-width: 570px;
    right: 5%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    border: 1px rgb(0, 160, 233) solid;
    flex-wrap: nowrap;
    display: flex;
    font-size: large;
    text-align: center;
    overflow: hidden;
}

.swiper-tab div {
    border-right: 1px rgb(0, 160, 233) solid;
    margin: 0;
    line-height: 60%;
    flex: 1;
}

#lasttab {
    border-right: none;
}

.swiper-tab div:hover {
    cursor: pointer;
}

.selectedtab {
    background-color: rgb(0, 160, 233) !important;
}

iframe {
    width: 90%;
    height: 90%;
    margin-top: 20px;
    border: 2px rgb(0, 160, 233) solid;
}

.swiper-slide .title {
    float: left;
    margin: 10px 20px 10px 10px;
    font-size: 50px;
    width: 50px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

button {
    /* float: left; */
    padding: 10px 20px;
    border: 2px rgb(0, 160, 233) solid;
    cursor: pointer;
    background-color: transparent;
    color: inherit;
}

button:hover, .swiper-tab div:hover {
    animation-name: colorchange;
    animation-duration: 500ms;
    background-color: rgba(0, 160, 233, 0.4);
}

.LiveControl {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
}

#LiveControlButton {
    font-size: inherit;
}

.LiveStatusReminder {
    visibility: hidden;
    margin-bottom: 20px;
    vertical-align: middle;
    height: 40px;
    animation-name: breathe;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes breathe {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*图文直播上传模块CSS*/

.piclive textarea {
    font-size: inherit;
    width: 300px;
    height: 200px;
    color: inherit;
    background-color: transparent;
    border: 1px rgb(0, 160, 233) solid;
    border-radius: 10px;
    margin-top: 10px;
}

.size {
    width: 4em;
    background-color: transparent;
    color: inherit;
    border-radius: 10px;
    border: 2px rgb(0, 160, 233) solid;
    padding: 2px 0;
    text-align: center;
}

#send {
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px rgb(0, 160, 233) solid;
    font-size: inherit;
    cursor: pointer;
    background-color: transparent;
    color: inherit;
}

#send:hover {
    filter: brightness(90%);
}

#pw {
    background-color: transparent;
    color: inherit;
    border-radius: 10px;
    border: 2px rgb(0, 160, 233) solid;
    padding: 8px 0;
    text-align: center;
    letter-spacing: 5px;
    font-size: large;
}

.count {
    font-size: small;
    width: 2em;
    display: inline-block;
}

.piclive-upload, .piclive-preview {
    width: 30%;
    height: 90%;
    border: 2px rgb(0, 160, 233) solid;
    float: left;
    padding: 5px;
}

.piclive-preview {
    width: calc(70% - 130px);
    text-align: left;
    margin-left: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.piclive hr {
    border-color: rgb(0, 160, 233);
}

.piclive-preview-controls {
    text-align: center;
    height: 41px;
}

.liveimg {
    max-width: 80%;
    max-height: 50%;
    float: left;
    border-radius: 20px;
    margin-right: 2%;
    margin-bottom: 2%;
}

.livetext {
    font-size: large;
    overflow-y: scroll;
}

/*节目单控制模块CSS*/

.programlist-preview {
    width: calc(100% - 110px);
    margin: 10px 0 0;
    background-color: transparent;
    border: 2px rgb(0, 160, 233) solid;
    height: 370px;
}

#last-prog, #next-prog {
    margin: 15px;
    float: none;
    font-size: large;
}

/*总览部分CSS*/

.timer {
    font-size: 3.5em;
    top: 43%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    left: 50%;
    white-space: nowrap;
    padding: 0 10px 10px;
}

#timer {
    font-family: Consola;
    color: rgb(200, 160, 106);
}

.small {
    font-size: 26px;
    color: white;
}