@font-face {
    font-family: PingFang;
    font-weight: normal;
    src: local("PingFangSC-Regular"), url(../font/PingFangSC-Regular.woff2);
}

@font-face {
    font-family: SF;
    src: url(../font/sf-pro-text_regular.ttf);
}

body {
    background: url(../background/background.png) no-repeat;
    text-align: center;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: PingFang, SF;
}

.swiper-container {
    width: 100%;
    height: 99%;
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100%;
    margin: 10px 0;
}

.videoframe {
    position: relative;
    top: 40%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100%;
    margin: 10px 0;
}

.proglist {
    position: absolute;
    display: inline-block;
    text-align: left;
    transform: translate(-50%, 0);
    font-size: x-large;
    line-height: 1.3;
    color: rgb(133, 83, 23);
}

.proglist-title {
    line-height: 1.9;
    width: 4em;
    display: inline-block;
}

.pre, .next {
    opacity: 0.6;
    margin-left: 0.5em;
    display: inline-block;
    font-size: large;
}

.pre {
    transform: rotateX(35deg) skewX(-10deg);
}

.next {
    transform: rotateX(-35deg) skewX(10deg);
}

#pre, #next {
    display: inline;
}

.ctr {
    font-size: 1em;
    line-height: 2em;
}

video, #player {
    top: 0;
    left: 0;
    margin: 0;
    border-radius: 3px;
    box-shadow: 0px 0px 12px 0px rgba(53, 53, 53, 0.3);
    min-width: 50%;
    background-color: #fff;
}

video {
    max-width: 98%;
    background-image: url(../img/notready.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

header {
    width: 100%;
    /* padding: 10px; */
    position: fixed;
    top: 0;
    height: 93px;
    left: 0;
    font-size: 30px;
    text-align: left;
    vertical-align: middle;
    color: rgb(133, 83, 23);
}

.icon {
    /* width: 65px; */
    height: 65px;
    position: absolute;
    top: 50%;
    left: 12%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    color: white;
}

.icon:hover {
    cursor: pointer;
}

.title1 {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    font-size: 1.2em;
    display: inline-block;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
    line-height: 1;
}

.title2 {
    display: inline-block;
    font-size: 0.6em;
    text-align: right;
    transform: translateX(40px);
}

.controls, .ctr {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    padding: 2px 0;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 0px rgba(53, 53, 53, 0.3);
    margin: 0;
    background-color: #fff;
    overflow: hidden;
    height: 55px;
}

.ctr {
    position: absolute;
    display: block;
    background-color: rgba(27, 27, 27, 0.871);
    opacity: 0.8;
    z-index: 200;
    padding: 10px;
    color: white;
    text-align: center;
    width: 185px;
    height: 100px;
    transform: translateX(-50%);
}

button {
    font-size: 1em;
    height: 44px;
    margin: 5px 0;
    min-width: 44px;
    vertical-align: middle;
    display: inline-block;
    border: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}

#play {
    border-radius: 1em;
    padding: 5px 10px;
    font-size: 1em;
    height: 44px;
    margin: 5px 15px;
    color: white;
    min-width: 44px;
    vertical-align: middle;
    /* display: inline-block; */
    border-radius: 3px;
    float: left;
}

#play:hover {
    opacity: 0.6;
    cursor: pointer;
}

#send {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgb(200, 160, 106);
    padding: 5px 20px;
    display: inline-block;
    margin: 5px 0;
    color: #fff;
}

#send:hover {
    cursor: pointer;
}

#text {
    border-width: 1px;
    border: 1px rgb(214, 213, 213) solid;
    background-color: rgb(241, 237, 237);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 30%;
    height: 40px;
    text-align: center;
    display: inline-block;
    margin: 5px 0;
}

.senddanmu {
    text-align: center;
    display: inline;
    margin: 10px 5px 0;
}

.onright {
    /* display: inline-block; */
    right: 5px;
    float: right;
}

#vol {
    display: inline-block;
    vertical-align: middle;
}

#play, #fullscreen, #send, #danmuctrl, #danmuset {
    background-repeat: no-repeat;
    background-size: 75% 75%;
    background-position: center;
}

#fullscreen {
    margin: 5px 5px 5px 0;
    background-size: 50% 50%;
}

.HLSmode, .clearlog {
    border: 1px #000 dashed;
    border-radius: 50px;
}

.livelabel {
    border: 2px solid rgb(200, 160, 106);
    border-radius: 2px;
    text-align: center;
    color: rgb(200, 160, 106);
    margin: 10px 5px 0;
    padding: 5px 10px;
    float: left;
}

.log {
    float: left;
    opacity: 0.5;
    color: white;
}

input[type=range] {
    -webkit-appearance: none;
    vertical-align: middle;
    width: 80px;
    border-radius: 8px;
    height: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.2em;
    width: 1.2em;
    background: rgb(200, 160, 106);
    border-radius: 50%;
    /*外观设置为圆形*/
    border: solid 2px rgb(200, 160, 106);
    /*设置边框*/
    box-sizing: border-box;
    cursor: pointer;
    margin-top: -5px;
}

input[type=range]::-webkit-slider-runnable-track {
    background-color: rgb(200, 160, 106);
    height: 3px;
    border-radius: 1.5px;
}

input[type=range]:focus {
    outline: none;
}

.ctr select {
    border: 1px rgb(105, 105, 105) solid;
    border-radius: 2px;
    width: 80px;
    text-align: center;
    background-color: transparent;
    color: #fff;
}

.ctr select:focus {
    background-color: #000;
}

.noticemask {
    background-color: #000;
    opacity: 0.8;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: none;
}

.noticemask-content {
    font-size: 32px;
    color: rgb(253, 253, 253);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    vertical-align: middle;
}

.noticetext {
    display: inline-block;
}

.noticemask img {
    width: 42px;
    display: inline-block;
    margin-right: 10px;
    transform: translateY(-10px);
}

.PicLive {
    width: 80%;
    height: 60%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    min-width: 380px;
    padding: 5px;
}

.liveimg {
    width: 60%;
    float: left;
    border-radius: 20px;
    margin-right: 5%;
    margin-bottom: 5%;
}

.liveimg:hover {
    cursor: pointer;
    filter: brightness(120%);
}

.livetext {
    font-size: large;
}

.liveimgbig {
    display: none;
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    width: 400px;
    background-color: #000;
}