.senddanmu {
    text-align: center;
    display: inline;
    margin: 10px 5px 0;
}

#text,#quantities{
    position: relative;
}

#send{
    position: relative;
}

#color,#position,#history,#danmu{
    position: relative !important;
    width: 100%;
    height: 80%;
}